
body{
    background-color: grey;
}



h1{
text-align: center;
color: paleturquoise;

}

#coming_soon{
    text-align: center;
    color:paleturquoise;
    font-size: 20rem;
}

#bN1{
    display: block;
    width : 10rem;
    margin-left: auto;
    margin-right: auto;
   
}

#Roll{
    text-align: center;
}

#Dice {
    
    color:paleturquoise;
    font-size: 2rem;
}

#nightClub{
    color:paleturquoise;
    font-size: 2rem;

}

#proj{
    display: block;
    color:paleturquoise;
}
p {
    text-align: center;
    color:paleturquoise;
    font-size: 2rem;
}

#word_skills{
    text-decoration: underline;
    text-align:center;
    margin-left: 2rem;
}

#social_media{
color:paleturquoise;
text-align: center;
font-size: 2rem;
}

#skillset{
    display:block;
    color:paleturquoise;
    text-align: center;
    font-size: 2rem;
}

#new_html{
    width: 5rem;
}

.container{
    background-color: paleturquoise;
    padding-top: 1rem;
    width: 100%;
    
}

ul li{
    display:inline-block;
    margin: 2rem;
    
}

#Marx {
        display: block;
        width : 20rem;
        margin-left: auto;
        margin-right: auto;
        
}

#Marx2{
    display: block;
    width : 20rem;
    margin-left: auto;
    margin-right: auto;

}
